<div class="component-wrapper">
  <%= react_component("App") %>
</div>
<div class="product-description">Find where to buy any cryptocurrency. We list all exchanges for 1500+ coins.</div>
<div class="row top-lists">
  <div class="col-md-6">
    <table class='top-list'>
      <thead>
        <tr>
          <th colSpan="999">Top Coins</th>
        </tr>
      </thead>
      <tbody>
        <% @coins.each do |coin| %>
          <tr data-link="<%= coin_path(coin) %>">
            <td><%= link_to coin.name, coin_path(coin) %></td>
            <td><%= coin.symbol %></td>
            <td><%= number_to_currency(coin.market_cap, precision: 0, unit: "$") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class='top-list'>
      <thead>
        <tr>
          <th colSpan="999">Top Exchanges</th>
        </tr>
      </thead>
      <tbody>
        <% @exchanges.each do |exchange| %>
          <tr data-link="<%= exchange.url %>">
            <td><%= link_to exchange.name, exchange.url %></td>
            <td><%= number_to_currency(exchange.volume_24h, precision: 0, unit: "$") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
