<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112785593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112785593-1');
    </script>

    <title>Where to buy Crypto - Mobile Friendly Crypto Exchanges filter tool</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="All Cryptocurrency available Markets and Exchanges updated in real-time ✔ ~1500 currencies ✔ ~134 Exchanges ✔ No advertising">
    <link rel="canonical" href="https://www.wheretobuycrypto.io/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Where to buy Crypto - Mobile Friendly Crypto Exchanges filter tool">
    <meta property="og:description" content="All Cryptocurrency available Markets and Exchanges updated in real-time ✔ ~1500 currencies ✔ ~134 Exchanges ✔ No advertising">
    <meta property="og:url" content="https://www.wheretobuycrypto.org/">
    <meta property="og:site_name" content="wheretobuycrypto">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="All Cryptocurrency available Markets and Exchanges updated in real-time ✔ ~1500 currencies ✔ ~134 Exchanges ✔ No advertising">
    <meta name="twitter:title" content="Where to buy Crypto - Mobile Friendly Crypto Exchanges filter tool">
    <meta name="twitter:site" content="@where2buycrypto">
    <meta name="twitter:creator" content="@where2buycrypto">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="header clearfix">
      <div class="container">
        <div class="inner">
          <span class="logo"><%= link_to "wheretobuycrypto.io", root_path %></span>
        </div>
      </div>
    </header>

    <main role="main" class="container">
      <div class="component-wrapper">
        <%= yield %>
      </div>

    </main>

    <footer>
      <div class="footer-info">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3>What is this?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>This website provides accurate data about the exchanges where a cryptocurrency or token can be exchanged or bought. We recommend you using the first exchange on the list, which has the most volume and will be easier. We update our data every few minutes from several sources and from our own research. Bookmark us!</p>
            </div>
            <div class="col-sm-6">
              <p>Prices and volume data can take a bit to update and there might be some inaccuracies.  Disclaimer: content and data on this website should not be used when making investment decisions. Seek a professional financial advisor if you are looking to invest.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-info donations">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>Donate BTC: 17jBSdiGmMmiUh4ZGcrXgapCoJb8hTML45</p>
              <p>Donate ETH: 0xdBa38D9B5dec336ea9989Bd3d198f258Ef91b8F2</p>
              <p>Donate LTC: LQeyQdWgsdKnQtTU7k2zFgjmkUTFLGtJ1J</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-text">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <span>© wheretobuycrypto.io</span>
            </div>
            <div class="col-sm-8 text-right">
              <a>Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
