<div>
  <p class="coin-description">Listing <%= number_with_precision(@coins.total_entries, precision: 0, delimiter: '.') %> coins/tokens right now.</p>
  <table class=''>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sybmol</th>
        <th>Market cap</th>
        <th>Volume 24h</th>
      </tr>
    </thead>
    <tbody>
      <% @coins.each do |coin| %>
        <tr data-link="<%= coin_path(coin) %>">
          <td><%= coin.name %></td>
          <td><%= coin.symbol %></td>
          <td><%= number_to_currency(coin.market_cap, precision: 0, unit: "$") %></td>
          <td><%= number_to_currency(coin.volume_24h, precision: 0, unit: "$") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @coins, :inner_window => 1 %>
</div>
